/* lato fonts */
@import url(fonts.css);

:root {
  /* main colors */
  --c-main-primary: #3254ff;
  --c-main-100: #243fdb;
  --c-main-200: #192db7;
  --c-main-300: #0f1e93;
  --c-main-400: #09147a;
  /* text colors */
  --text-dark-primary: rgba(58, 53, 65, 0.87);
  --text-dark-secondary: rgba(58, 53, 65, 0.68);
  --text-dark-disabled: rgba(58, 53, 65, 0.38);
  --text-light-primary: rgba(255, 255, 255, 1);
  --text-light-secondary: rgba(193, 194, 196, 1);
  --text-light-disabled: rgba(157, 158, 161, 1);
  /* other colors */
  --c-paper-bg: #22282a;
  --c-body-bg: #2f3334;
  --c-page-header-bg: rgba(24, 26, 28, 1);
  --c-extra-bg: #3d4142;
  --c-outline-border: rgba(231, 227, 252, 0.23);
  --c-input-border: rgba(231, 227, 252, 0.22);
  --c-input-field-bg: rgba(231, 227, 252, 0.04);
  --c-chip-bg: rgba(231, 227, 252, 0.08);
  /* info colors */
  --c-info-pressed: rgba(2, 77, 183, 1);
  --c-info-hover: rgba(3, 103, 219, 1);
  --c-info-default: rgba(5, 134, 255, 1);
  --c-info-bg: rgba(205, 241, 255, 0.3);
  --c-info-gradient: linear-gradient(
    to right,
    rgba(0, 76, 232, 1),
    rgba(111, 158, 255, 1)
  );
  /* success colors */
  --c-success-pressed: rgba(96, 161, 37, 1);
  --c-success-hover: rgba(126, 192, 54, 1);
  --c-success-default: rgba(159, 224, 74, 1);
  --c-success-bg: rgba(244, 253, 219, 0.8);
  /* warning colors */
  --c-warning-pressed: rgba(183, 162, 7, 1);
  --c-warning-hover: rgba(219, 196, 10, 1);
  --c-warning-default: rgba(255, 231, 15, 1);
  --c-warning-bg: rgba(255, 252, 207, 0.8);
  /* error colors */
  --c-error-pressed: rgba(183, 31, 29, 1);
  --c-error-hover: rgba(219, 58, 42, 1);
  --c-error-default: rgba(255, 91, 58, 1);
  --c-error-bg: rgba(255, 234, 215, 0.5);
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--c-page-header-bg);
  color: var(--text-light-primary);
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: var(--text-light-primary);
}

h1 {
  font-family: "Lato-Bold", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 3rem;
}

h2 {
  font-family: "Lato-Bold", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 2.5rem;
}

h3 {
  font-family: "Lato-Bold", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
}

h4 {
  font-family: "Lato-Bold", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
}

h5 {
  font-family: "Lato-Bold", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.25rem;
}

h6 {
  font-family: "Lato-Bold", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.125rem;
}

input:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

button {
  color: inherit;
}
